{% extends 'base.html' %} {% block title %}TASKBOX{% endblock %} {% block style
%}<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index.css')}}"
/>{% endblock %} {% block body %}

<main>
  <div class="container">
    <img class="image box" src="static/img/toDoListPicture.jpg" alt="" />
    <div class="box">
      <h2>Keep Your Tasks Organized and Get Things Done with Ease</h2>
      <p>
        Say goodbye to sticky notes and messy to-do lists. Our to-do app offers
        a clean and user-friendly interface to help you stay on top of your
        tasks. With our app, you can easily add, edit, and prioritize tasks, set
        due dates and reminders, and track your progress. Whether you need to
        manage work projects, household chores, or personal goals, our app has
        got you covered. Sign up now and start achieving your goals with ease.
      </p>
    </div>
  </div>
  <div class="container2">
    <img class="image box" src="static/img/notes.jpg" alt="" />
    <div class="box">
      <h2>Boost Your Productivity and Focus on What Matters Most</h2>
      <p>
        Are you tired of feeling overwhelmed by your to-do list? Our to-do app
        is designed to help you stay focused and productive. With features like
        task categorization, priority levels, and deadline reminders, you can
        prioritize your tasks and focus on what's important. Our app also offers
        a calendar view to help you plan your schedule and avoid overbooking.
        Whether you're a student, a professional, or a busy parent, our app can
        help you stay organized and achieve your goals. Try it now and take
        control of your day.
      </p>
    </div>
  </div>
</main>
<footer></footer>
{% endblock %}
