{% extends 'base.html' %} {% block title %}TASKBOX{% endblock %} {% block style
%}<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/register.css')}}"
/>{% endblock %} {% block body %}
<form action="#">
  <div class="container">
    <h1>Login</h1>
    <p>Please fill to Login an account.</p>

    <label id="labelpadding" for="mail"><b>Email</b></label>
    <input
      type="text"
      placeholder="Enter Email"
      name="mail"
      id="mail"
      required
    />

    <label for="pswd"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="pswd"
      id="pswd"
      required
    />

    <hr />

    <button type="submit">Login</button>
  </div>
</form>
{% endblock %}
