.image {
  border-radius: 50px;
  max-width: 250px;
  max-height: 250px;
  padding: 0px 10px;
}
main .container {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
}

main .container2 {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.box {
  flex: 1;
}
@media (max-width: 768px) {
  nav .container {
    flex-direction: column;
  }
}
nav .container ul {
  margin-left: auto;
  padding-left: 5px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  main .container,
  main .container2 {
    flex-direction: column-reverse;
    max-width: 300px;
  }

  .boxes {
    display: block;
  }
  main .container img,
  main .container2 img {
    margin: 0 auto;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
