{% extends 'base.html' %} {% block title %}TASKBOX - REGISTER{% endblock %} {%
block style %}<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/register.css')}}"
/>{% endblock %} {% block body %}
<form method="POST">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill to create an account.</p>

    <label id="labelpadding" for="e_mail"><b>Email</b></label>
    <input
      type="text"
      placeholder="Enter Email"
      name="e_mail"
      id="e_mail"
      required
    />

    <label for="password"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      id="password"
      required
    />

    <label for="password_confirmation"><b>Repeat Password</b></label>
    <input
      type="password"
      placeholder="Repeat Password"
      name="password_confirmation"
      id="password_confirmation"
      required
    />
    <hr />

    <button type="submit" value="Sign Up">Register</button>

    {% if error %}

    <br />
    <br />
    <p style="color: tomato">{{ error }}</p>
    <br />
    {% endif %}
  </div>

  <div class="signin">
    <p>
      Already have an account?
      <a href="{{url_for('authentification.get_login')}}">Sign in</a>.
    </p>
  </div>
</form>
{% endblock %}
