* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body {
  background: mediumseagreen;
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
}
nav {
  height: 100px;
}
nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
}
nav a:hover {
  color: bisque;
}
nav .navigation {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  padding-right: 50px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
}
.logo {
  padding-left: 20px;
  font-size: xx-large;
}
@media (max-width: 768px) {
  nav .container {
    flex-direction: column;
  }
}
nav .container ul {
  margin-left: auto;
  padding-left: 5px;
  padding-bottom: 20px;
}
